//Tipohgrafías

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$mainFont:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$secondaryfont: 'Lobster', cursive;

$textXl:2rem;
$textLg:1.5rem;
$textMd:1.2em;
$textSm:1em;
$textXs:0.8rem;

$textBold:700;
$textSemiBold:600;
$textRegular:400;
$textLight:200;
