* {
    padding: 0;
    margin: 0;
}


html {
    font-family: $mainFont;
    font-size: 16px;
    line-height: 1.5;
    background-color: $mainColor;
    background-image :      url('../public/images/ciudad.png');
    background-repeat :     no-repeat;
    background-position :   bottom center;
    background-attachment : fixed;
    background-size :       100% auto;
}


/* Título y Subtítulo */

h1,
h2 {
    font-family: $secondaryfont;
    text-align: center;
}

h1 {
    color: white;
    background-color: $redColor;
    // width: 100vw;
    width: $w-100;
    padding: 0.5rem;
    text-shadow: 0 1px 6px black;
}

h2 {
    color: $redColor;
    font-size: $textXl;
    padding: 2rem 0 1rem 0;
    text-shadow: 0 1px 6px grey;
}

/* Texto */
p {
    font-size: $textXs;
    padding: 0.5rem;
    color: $secondaryColor;
    font-weight:$textLight;
}

/* Frase */

h2 + p {
    font-family: $mainFont;
    font-style: italic;
    font-size: $textSm;
    font-weight:$textLight;
}

//Agrego guiones al princiio y al final de los subtitulos

h2 + p::before {
    content: "-";
}

h2 + p::after {
    content: "-";
}
